.container {
  margin-top: 30px;
}

textarea {
  font-family: 'Courier New', Courier, monospace;
}

.preview {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  overflow-y: auto;
  height: 100%;
  white-space: pre-wrap;
}

.preview h1 {
  font-size: 2em;
}

.preview h2 {
  font-size: 1.5em;
}

.preview p {
  font-size: 1.1em;
}
